<!DOCTYPE html>
<html lang="fr" ng-app="mesimages">
<head>
	<meta charset=utf-8 content="0; URL='http://paradiskateboards.com/homepage'"/>
	<title>paradiskateboards</title>
	<link rel="stylesheet" type="text/css" href="paradis.css">
	<link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="icon" type="image/x-icon" href="favicon(1).ico" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
</head>
<body ng-controller="imagesCtrl">
		<a ng-click="chargerImages()">mes images</a>
    <li class="animate-repeat" ng-repeat="mesimage in mesimages">
      <a ng-click="afficherImage(mesimage)">{{mesimage.filename}}</a>
    </li>
    	<form id="uploadForm"
 	enctype="multipart/form-data"
  	action="/upload"
  	method="post">
      		<input type="file" id="userPhotoInput" name="userPhoto" />
			<input type="submit" value="Upload" />
    	</form>
	<img id="content" ng-src="{{hash}}"/>
	<script src='/libraries/socket.io.js'></script>
	<!--<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>-->
	<script>
		 //var socket = io.connect("http://fantastic-qleppo.rhcloud.com:8000");
		 var socket = io.connect();
	</script>	
	<script src="controller.js"></script>
</body>
</html>